@import "src/components/vars.scss";

.comicPanel {
  color: gray;
  display: block;
  height: 100%;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  @include respond-to($phone) {
    margin-left: -80px;
    margin-right: -80px;
  }
  @include respond-to($tablet-portrait) {
    margin-left: -120px;
    margin-right: -120px;
  }
  @include respond-to($desktop) {
    margin-left: -220px;
    margin-right: -220px;
  }
  img {
    display: inline-block;
    height: auto;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
  }
  span {
    padding-left: 10px;
  }
  strong {
    padding-right: 5px;
  }
}
