body {
  background-color: white;
}

.YaksOnHill {
  position: relative;
  perspective: 2px;
  margin-left: -20px;
  transform-style: preserve-3d;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}
img.YaksLightBeam {
  bottom: 0px;
  left: 0px;
  position: absolute;
  transform: translateZ(1px) scale(1);
  z-index: 1;
}

img.Yaks {
  bottom: 0px;
  left: 0px;
  position: absolute;
  transform: translateZ(-2px) scale(3);
  z-index: 2;
}
img.YaksPageTear {
  bottom: 0px;
  left: 0px;
  padding-bottom: 20px;
  position: absolute;
  transform: translateZ(1px) scale(1);
  z-index: 3;
}
img.YaksSnow {
  bottom: 0px;
  left: 0px;
  position: absolute;
  transform: translateZ(1px) scale(1);
  z-index: 4;
}

@media (min-width: 641px) {
  .YaksOnHill img {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}
p {
  z-index: 100;
}
