@import "src/components/vars.scss";

body p,
body i,
body u,
body strong {
  font-family: "San Francisco", Helvetica, sans-serif;
  &::selection {
    background-color: rgba(black, 0.8);
    color: white;
  }
}
.copy {
  @include respond-to($tablet-portrait) {
    max-width: 680px;
    margin: 0px auto;
  }
}

.comicPanel {
  color: gray;
  display: block;
  height: 100%;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  z-index: 20;
  @include respond-to($tablet-portrait) {
    margin-left: -40px;
    margin-right: -40px;
  }
  img {
    display: inline-block;
    height: auto;
    margin: 0px;
    padding: 0px;
    pointer-events: none;
    width: 100%;
  }
  span {
    padding-left: 10px;
  }
  strong {
    padding-right: 5px;
  }
}
