@import "src/components/vars.scss";

.comicPanel {
  background-color: whitesmoke;
  display: block;
  height: 100%;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  @include respond-to($phone) {
    margin-left: -80px;
    margin-right: -80px;
  }
  @include respond-to($tablet-portrait) {
    margin-left: -130px;
    margin-right: -130px;
  }
  @include respond-to($desktop) {
    margin-left: -240px;
    margin-right: -240px;
  }
  img {
    display: inline-block;
    height: auto;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
}
