body {
  font-family: "San Francisco", Helvetica, sans-serif;
}
.coverArtContainer {
  align-content: center;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.containerPage {
  background-color: #695f64;
  background-image: linear-gradient(#695f64, #000000);
  overflow: hidden;
}

.snappySliderWrapper {
  margin-top: 20px;
}

.Footer {
  position: relative;
}
